.account {
    display: flex;
    align-items: center;
    column-gap: 24px;

    @include tablet {
        column-gap: 12px;
    }

    a {
        display: inline-block;
        height: 24px;
        transition: all 0.2s ease-in;
    }
    
    a:hover {
        background-color: var(--neutral-grayededed);
    }
}

.account__item--search {
    @include mobile {   
        display: none;
    }
}

.account__item--menu {
    display: none;

    @include mobile {
            display: block;
        }
}


