.button, a.button {
    padding: 8px;

    display: inline-block;
    min-width: 185px;
    height: 40px;

    background-color: var(--white);

    font-family: var(--font-family);
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    text-transform: capitalize;
    color: var(--black);

    transition: all 0.2s ease-in;

    &:hover {
        background-color: var(--neutral-grayededed);
    }

    @include mobile {
        padding-left: 9px;
        padding-right: 9px;
        
        min-width: unset;
    }


    &--small {
        min-width: unset;
        padding-left: 15px;
        padding-right: 15px;
    }

    &--mobile-wide {
        @include mobile {
            min-width: unset;
             width: 100%;

             text-align: left;
             padding-left: 16px;
             padding-right: 16px;
        }
    }
}