.header {
	background-color: #c0e4f4;
	padding: 50px 0;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header__logo {
}

.logo {
}
.header__nav {
}
.nav {
}
.nav__list {
}
.active {
}
.header__account {
}
.account {
}

.header__nav-btn {
    display: none;
}
.mobile-nav-btn {
}
.nav-icon {
}