.header {
    padding-top: 16px;
    padding-bottom: 18px;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header__logo {
    flex-shrink: 0;
}

.header__account {
}

.header__nav-btn {
    display: none;
}
